.add {
  width: 75%;
  height: 50px;
  background-color: #f3f1f1;
  border: 1px solid #fafafa;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  cursor: pointer;
  .add-icon {
    font-size: 30px;
    color: black !important;
    margin-right: 10px;
    padding: 2px;
  }
}