$color:#eee;
body{
  background-color: $color;
  user-select: none;
}

// 禁止图片拖拽
img {
  -webkit-user-drag: none;
}

// title字体
@font-face {
  font-family: TitleEng;
  src: url('@/assets/fonts/meorugendtrialregular-9ydeb.ttf');
}

// 正文字体
@font-face {
  font-family: TitleChi;
  src: url('@/assets/fonts/zaozigongfangtianliti.ttf');
}